.header {
    padding: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.margin-left-3 {
    margin-left: 3%;
}

.margin-left-5 {
    margin-left: 5%;
}

.portrait-photo {
    width: 220px;
    height: 270px;
}

.personal-info {
    padding: 25px;
    text-align: center;
}

.rating {
    padding: 25px;
}

.name {
    margin: 0;
}

.contact-user {
    margin: 20px;
}

.text {
    padding-left: 10%;
}

.tabs {
    margin-top: 5px;
}