<div class="app-content">
    <div class="group">
        <form role="form" (submit)="signIn()"><br>
            <h2 class="text">Sign In</h2>
            <md-input-container class="max-width">
                <input mdInput type="text" required [(ngModel)]="user.email" id="username" name="username">
                <md-placeholder>
                    <i class="material-icons app-input-icon">face</i>Username(Email)
                </md-placeholder>
            </md-input-container><br><br>
            <md-input-container class="max-width">
                <input mdInput type="password" required [(ngModel)]="user.password" id="password" name="password">
                <md-placeholder>
                    <i class="material-icons app-input-icon">lock_open</i>Password
                </md-placeholder>
            </md-input-container><br><br>
            <button md-raised-button color="primary" type="submit" name="action">Register</button><br><br>
            <span id="err"><small>{{errorMsg}}</small></span>
        </form>
    </div>
</div>