<md-toolbar color="primary" class="header">
    <a routerLink="/portfolios">
        <img class="header__logo" src="../../../../assets/images/Logo-portfoos.png" alt="company-logo">
    </a>
    <span class="spacer"></span>
    <a md-raised-button routerLink="." color="accent" class="auth-button">Sign up</a>
    <a md-raised-button routerLink="." color="accent" class="auth-button">Log in</a>
</md-toolbar>

<!-- 
A primary palette: colors most widely used across all screens and components.
An accent palette: colors used for the floating action button and interactive elements.
A warn palette: colors used to convey error state.
A foreground palette: colors for text and icons.
A background palette: colors used for element backgrounds. -->