.profile-card {
    width: 250px;
}

.profile-header-image {
    margin-bottom: 10px;
    background-size: cover;
}

.peter-img {
    background-image: url('../../../assets/images/portrait-photo.jpg');
}

.vasil-img {
    background-image: url('../../../assets/images/portrait-photo_vasil.png');
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    text-align: center;
    padding-top: 35px;
}

.flex-item {
    width: 250px;
    margin: 16px 25px;
    padding: 0 15px;
}

.portrait-photo {
    width: 100%;
    margin: 16px 0;
}