.profile-card {
    width: 250px;
}

.profile-header-image {
    margin-bottom: 10px;
    background-size: cover;
}

.peter-img {
    background-image: url('../../../assets/images/portrait-photo.jpg');
}

.vasil-img {
    background-image: url('../../../assets/images/portrait-photo_vasil.png');
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    text-align: center;
}