<main>
    <div class="profile">
        <img src="../../../assets/images/portrait-photo.jpg" class="profile__photo">
        <p class="profile__name">Petar Georgiev</p>
        <div class="profile__icons-container">
            <a href="https://www.facebook.com/peter.georgiev.85"><img src="../../../assets/images/profile__icons-facebook.png" alt="" class="profile__icons"></a>
            <a href="https://github.com/peter-85"><img src="../../../assets/images/profile__icons-github.png" alt="" class="profile__icons"></a>
        </div>
    </div>
    <div class="profile">
        <img src="../../../assets/images/portrait-photo_vasil.png" class="profile__photo">
        <p class="profile__name">Vasil Kamburov</p>
        <div class="profile__icons-container">
            <a href="https://www.facebook.com/vasil.kamburov"><img src="../../../assets/images/profile__icons-facebook.png" alt="" class="profile__icons"></a>
            <a href="https://github.com/vasil87"><img src="../../../assets/images/profile__icons-github.png" alt="" class="profile__icons"></a>
        </div>
    </div>
</main>