.header {
    text-align: center;
}

.flex-container {
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    background-color: #FFF;
    width: 200px;
    height: 366px;
    padding: 0px;
    margin: 16px 25px;
    text-align: center;
}

.profile__photo {
    width: 200px;
}

.profile__icons-container {
    text-align: center;
}

.profile__name {
    text-align: center;
}

.profile__icons {
    padding: 0.5rem;
}