<form [formGroup]="rForm" (ngSubmit)="addPortfolio(rForm.value)">
    <div class="form-container">
        <div class="row columns">
            <h1>My Reactive Form</h1>
            <label>Name
          <input type="text" formControlName="name">
        </label>
            <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">This field is required</div>

            <label>Description
          <textarea  formControlName="portfolio.lastName"></textarea>
        </label>

            <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
        </div>
    </div>
</form>
<!--<p> MY PORTFOLIO FORM</p>-->