<!--<form [formGroup]="rForm" (ngSubmit)="addPortfolio(rForm.value)">
    <div class="form-container">
        <div class="row columns">
            <h1>My Reactive Form</h1>
            <label>Name
          <input type="text" formControlName="name">
        </label>
            <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">This field is required</div>

            <label>Description
          <textarea  formControlName="portfolio.lastName"></textarea>
        </label>

            <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
        </div>
    </div>
</form>-->
<!--<p> MY PORTFOLIO FORM</p>-->

<form [formGroup]="rForm" (ngSubmit)="addPortfolio(rForm.value)" class="form">
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="First name" formControlName="firstName">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Last name" formControlName="lastName">
                </md-input-container>
            </td>
        </tr>
        <div class="alert" *ngIf="(!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched) || (!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched)">This field must have at least 3 characters</div>
    </table>

    <p>
        <md-input-container class="full-width">
            <input mdInput placeholder="Portrait photo URL" formControlName="imgUrl">
        </md-input-container>
    </p>
    <div class="alert" *ngIf="!rForm.controls['imgUrl'].valid && rForm.controls['imgUrl'].touched">You should enter valid URL</div>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Age" formControlName="age">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Profession" formControlName="profession">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Working experience" formControlName="workingExperience">
                </md-input-container>
            </td>
        </tr>
        <div class="alert" *ngIf="!rForm.controls['age'].valid && rForm.controls['age'].touched">Age must be a positive number</div>
        <div class="alert" *ngIf="!rForm.controls['profession'].valid && rForm.controls['profession'].touched">Profession must have at least 3 characters</div>
        <div class="alert" *ngIf="!rForm.controls['workingExperience'].valid && rForm.controls['workingExperience'].touched">Working experience must be a positive number</div>

    </table>
    <a md-raised-button class="right" type="submit" color="primary" [disabled]="!rForm.valid">Submit form</a>
</form>