.title {
    text-align: center;
    display: block;
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.toolbar-item {
    margin: 10px 15px;
}

.flex-container {
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    background-color: #FFF;
    width: 200px;
    height: 366px;
    padding: 0px;
    margin: 16px 25px;
    text-align: center;
}

.portrait-photo {
    width: 100%;
}

.name {
    font-style: bold;
}

.age {
    font-style: italic;
}

.view-details {
    margin-top: 10px;
}