.title {
    text-align: center;
    display: block;
}

.toolbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toobar-item {
    flex-basis: 20%;
}