<div class="title">
    <h2>All portfolios</h2>
</div>
<div class="toolbar">
    <form class="toobar-item">
        <md-input-container>
            <input class="search " (keyup)="searchPortfolio(message.value) " mdInput #message maxlength="42 " placeholder="Search by profession ">
            <md-hint align="start "><em>For example:</em><strong>civil engineer</strong></md-hint>
            <!-- <md-hint align="end ">{{message.value.length}} / 42</md-hint> -->
        </md-input-container>
    </form>
    <md-select class="toobar-item" [(ngModel)]="order">
        <md-option value="ascending">Ascending</md-option>
        <md-option value="descending">Descending</md-option>
    </md-select>
    <md-select [(ngModel)]="sort">
        <!--<option *ngFor="let property of sortsProperty " [attr.value]="property ">{{property}}</option>-->
        <md-option value="age">Age</md-option>
        <md-option value="rating">Rating</md-option>
        <md-option value="workingExperience">Working exp</md-option>
    </md-select>
</div>
<div class="main-content ">
    <md-grid-list md-line cols="4 " rowHeight="200px ">
        <md-grid-tile *ngFor="let portfolio of (filteredPortfolios | sort: [sort, order]) ">
            <img [src]="portfolio.imgUrl " class="grid-img ">
            <md-grid-tile-footer layout="row " layout-align="space-between center ">
                <h3 md-line>{{portfolio.firstName}} {{portfolio.lastName}}</h3>
                <span md-line>{{portfolio.age}} years old</span>
                <span md-line> {{portfolio.profession}}</span>
                <a md-icon-button [routerLink]="[ '/portfolios/portfolio-detail', portfolio.id] ">
                    <md-icon>info</md-icon>
                </a>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>