.main {
    text-align: center;
    display: inline-block;
}

.flex-container {
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    background-color: #FFF;
    width: 200px;
    height: 366px;
    padding: 0px;
    margin: 16px 25px;
    text-align: center;
}

.search-form {
    display: inline-block;
    margin: 15px;
}

.select {
    display: inline-block;
    margin: 25px;
}

.portrait-photo {
    width: 100%;
}

.name {
    font-style: bold;
}

.age {
    font-style: italic;
}

.view-details {
    background-color: #efaf1e;
    margin-top: 10px;
}