<div class="title">
    <h2>All portfolios</h2>
</div>
<div class="toolbar">
    <form class="toolbar-item">
        <md-input-container>
            <input class="search" (keyup)="searchPortfolio(message.value)" mdInput #message maxlength="42 " placeholder="Search by profession">
            <md-hint align="start "><em>For example:</em><strong>civil engineer</strong></md-hint>
            <md-hint align="end ">{{message.value.length}} / 42</md-hint>
        </md-input-container>
    </form>
    <md-select class="toolbar-item" [(ngModel)]="order" placeholder="Order by">
        <md-option value="ascending">Ascending</md-option>
        <md-option value="descending">Descending</md-option>
    </md-select>
    <md-select class="toolbar-item" [(ngModel)]="sort" placeholder="Filter by">
        <!--<option *ngFor="let property of sortsProperty " [attr.value]="property ">{{property}}</option>-->
        <md-option value="age">Age</md-option>
        <md-option value="rating">Rating</md-option>
        <md-option value="workingExperience">Working exp</md-option>
    </md-select>
</div>
<div class="main-content">
    <ul class="flex-container">
        <li class="flex-item" *ngFor="let portfolio of (filteredPortfolios | sort: [sort, order])">
            <img class="portrait-photo" [src]="portfolio.imgUrl" alt="">
            <div class="name"><strong>{{portfolio.firstName}} {{portfolio.lastName}}</strong></div>
            <div class="age">{{portfolio.age}} years old</div>
            <div>{{portfolio.profession}}</div>
            <a md-raised-button [routerLink]="['/portfolios/portfolio-detail', portfolio.email]" color="accent" class="view-details">View details</a>
        </li>
    </ul>
</div>