<main class="main">
    <h2 class="title">All portfolios</h2>
    <form class="search-form">
        <md-input-container>
            <input class="search" (keyup)="searchPortfolio($event)" mdInput #message maxlength="42" placeholder="Search by profession">
            <md-hint align="start"><em>For example:</em><strong>civil engineer</strong></md-hint>
            <md-hint align="end">{{message.value.length}} / 42</md-hint>
        </md-input-container>
    </form>
    <md-select [(ngModel)]="sort" name="sort" class="select sort" placeholder="Filter by">
        <md-option *ngFor="let property of sortProperties" [value]="property">
            {{ property }}
        </md-option>
    </md-select>
    <md-select [(ngModel)]="order" name="order" class="select order" placeholder="Sort by">
        <md-option value="ascending">Ascending</md-option>
        <md-option value="descending">Descending</md-option>
    </md-select>
    <select [(ngModel)]="sort" name="sort">
                <!--<option *ngFor="let property of sortsProperty" [attr.value]="property">{{property}}</option>-->
                <option value="age">Age</option>
                <option value="first name">First name</option>
                <option value="working experience">Working exp</option>
            </select>
    <select [(ngModel)]="order" name="order">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
    <ul class="flex-container">
        <li class="flex-item" *ngFor="let portfolio of (filteredPortfolios | sort: [sort, order])">
            <img class="portrait-photo" [src]="portfolio.imgUrl" alt="">
            <div class="name"><strong>{{portfolio.firstName}} {{portfolio.lastName}}</strong></div>
            <div class="age">{{portfolio.age}} years old</div>
            <div>{{portfolio.profession}}</div>
            <a class="view-details" md-button [routerLink]="['/portfolios/portfolio-detail', portfolio.id]">View details</a>
        </li>
    </ul>
</main>