.aside {
    background-color: gray;
}

.left-align-item {
    float: left;
}

md-divider {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
}

.max-width {
    width: 100%;
}

.margin-2 {
    margin-top: 5px;
}