    .header__logo {
        width: 180px;
        position: absolute;
        padding: 3px 18px;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(0.85);
        transform-origin: 50% 0;
        transition: transform .6s ease-out;
        z-index: 10;
    }
    
    @media (min-width: 450px) {
        .header__logo {
            left: auto;
            transform: translateX(0);
            padding-top: 0;
        }
    }
    
    @media (max-width: 250px) {
        .header__logo {
            display: none;
        }
    }
    
    .toolbar {
        padding: 0;
        height: 64px;
    }
    
    .spacer {
        flex: 1 1 auto;
    }
    
    .text {
        font: Roboto, sanf-serif;
        font-size: 16px;
    }
    
    @media(max-width: 620px) {
        .text {
            display: none;
        }
    }
    
    .auth-button {
        margin: auto;
        transform: scale(0.83);
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    @media (min-width: 450px) {
        .auth-button {
            margin: 0 10px;
            float: right;
            transform: scale(1);
        }
    }
    
    .menu-content {
        opacity: 0;
        transform: scale(1.2);
        padding-top: 90px;
        transition: all .3s ease-out;
        z-index: -10;
        position: relative;
        text-align: center;
    }
    
    @media (min-width: 450px) {
        .menu-content {
            opacity: 1;
            z-index: 1;
            padding-top: 0;
            transform: scale(1);
        }
    }
    
    .menu-content--is-visible {
        opacity: 1;
        z-index: 5;
        transform: scale(1);
        background-color: rgba(103, 58, 183, .7);
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .menu-icon--close-x::before {
        transform: rotate(45deg) scaleX(1.25);
    }
    
    .menu-icon--close-x.menu-logo__middle {
        opacity: 0;
        transform: scaleX(0);
        z-index: 10;
    }
    
    .menu-icon--close-x::after {
        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
    
    .menu-logo {
        width: 20px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
    }
    
    .menu-logo::before {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #FFF;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
    }
    
    .menu-logo__middle {
        position: absolute;
        top: 22px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #FFF;
        transition: all .3s ease-out;
        transform-origin: 0 50%;
    }
    
    .menu-logo::after {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #FFF;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
    }
    
    @media (min-width: 450px) {
        .menu-logo {
            display: none;
        }
    }